{% extends 'rejco/admin/base.html' %}
{% load static %}


{% block content%}
    <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>No.</th>
        <th>Owner</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Dispatched</th>
        <th>Arrived</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for package in packages%}
      <tr>
        <td>{{forloop.counter}}.</td>
        <td>{{package.owner}}</td>
        <td>{{package.origin}}</td>
        <td>{{package.destination}}</td>
        <td>{{package.dispatched}}</td>
        <td>{{package.arrived}}</td>
        <td>
            <a type="button" class="btn btn-primary" href={% url 'rejco:dispatch' package.id %}>Dispatch</a>
            <a type="button" class="btn btn-warning" href={% url 'rejco:arrived' package.id %}>Arrived</a>
        <td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}